{% extends "layout.html" %}

{% set active_page = "page1" %}

{% block title %}Page 1{% endblock %}

{% block content %}
    <!--page content-->
    <h1>Monkey pox</h1>
	<p>The data used in this web app is from the CORGIS Dataset Project and can be found here. The data states how many cases of Mpox there are across the world during 2022-23. It shows the dates of when the cases were recorded and numbers in millions of cases across all countries alphabetically as well as deaths and new data. The data was taken from tests hospitals conducted across the globe. It also shows by the millions how many new cases there are. Some questions I had about this dataset are: Why is all the data similar, How does this help cure research, Where does this information go? Some of the data I found on this dataset includes: Since January 1, 2024, the Democratic Republic of the Congo (DRC) has reported more than 31,000 suspected Mpox cases and nearly 1,000 deaths. Of these, about 5,600 cases have been confirmed through laboratory testing. There are two types of Mpox, clade I and clade II.</p>
{% endblock %}
